@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

label {
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    margin-bottom: 5px !important;
    margin-top: 20px;
    color: #888;
}

label.error{
    position: absolute;
    top: 0;
    right: 5%;
    font-size: 12px;
    color: red;
}

.p-lr-0{ padding-right: 0; padding-left: 0; }
.m-lr-0{ margin-left: 0; margin-right: 0; }

/* Header Css Start */

.topheader{ background: rgba(66,144,202,0.74); }
.headwrap{ width: 1400px; margin: 0 auto;  font-family: 'Barlow Condensed', sans-serif; }

.topnbmr{ text-align: right; padding-top: 15px; padding-bottom: 15px; }
.topnbmr a{ text-decoration: none; color: #fff; font-size: 18px; letter-spacing: 2px; }

.navmain{ background-color: rgba(37,39,51,0.81); }
.navmain a.navbar-brand{ width: 20%; }
.navmain a.navbar-brand img { width: 100%; }
.navmain ul.navbar-nav{}
.navmain ul.navbar-nav li{ padding-right: 30px; }
.navmain ul.navbar-nav li a{ text-decoration: none; color: #fff; font-size: 24px; text-transform: uppercase; }
.navmain ul.navbar-nav li a:hover{ color: #4290ca; }
.navmain ul.login-area{ padding: 0; margin: 0; }
.navmain ul.login-area li{ display: inline-block; list-style: none; }
.navmain ul.login-area li a{ text-decoration: none; text-transform: uppercase; color: #fff; }
.navmain ul.login-area li:first-child a{background: #fff; color: #252733; padding: 10px 21px; text-transform: uppercase; margin-right: 10px;font-size: 18px; font-weight: 800; }
.navmain ul.login-area li:last-child a{ background: #4290ca; color: #fff !important; padding: 10px 21px; text-transform: uppercase; font-size: 18px;font-weight: 500;}

.stepholder{ width: 100%; margin: 30px 0; padding: 0 30px;  }


.footerbg{border-bottom: 1px solid #2D2B2C !important; background: #242223; padding: 40px 10px 20px; }

.footerlinks{  font-family: "Barlow Condensed"; }
.footerlinks h2{ margin: 0 0 28px; text-transform: uppercase; font-size: 24px; font-weight: 400; line-height: 1.5; letter-spacing: 0px; font-style: normal; color: #ffffff; }
.footerlinks ul{ padding: 0; margin: 0; }
.footerlinks ul li{}
.footerlinks ul li a{ text-decoration: none; color:#707070; text-transform: capitalize; font-size: 18px; padding: 8px 0; display: block; }

.footerlinks ul li a i { margin-right: 7px; width: 16px; text-align: center;}
/* Header Css Close */

/*New Form Css*/

/*form styles*/
#msform input, #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    border-radius: 0;
    box-shadow: 0 0 2px #00000073;
    height: 50px;
    border-bottom: 1px solid #fff;
}


#msform { position: relative; margin-top: 30px;}

#msform form {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking forms above each other*/
    position: relative;
}

/*Hide all except first form*/
#msform form:not(:first-of-type) {
    display: none;
}

/*inputs*/
#msform input, #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}

.error-new span{ border: 1px solid red; }

#msform input:focus, #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #ee0979;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

/*buttons*/
#msform .action-button {
    width: 100px;
    background: #ee0979;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #ee0979;
}

#msform .action-button-previous {
    width: 100px;
    background: #C5C5F1;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}

/*headings*/
.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
    letter-spacing: 1px;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: block;
    font-size: 12px;
    color: #333;
    background: white;
    border-radius: 25px;
    margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #ee0979;
    color: white;
}


/* Not relevant to this form */
.dme_link {
    margin-top: 30px;
    text-align: center;
}
.dme_link a {
    background: #FFF;
    font-weight: bold;
    color: #ee0979;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 5px 25px;
    font-size: 12px;
}

.dme_link a:hover, .dme_link a:focus {
    background: #C5C5F1;
    text-decoration: none;
}

/*New Form Css*/


/* Customize the label (the container) */
.labelholder {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

 /* font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;*/
}

/* Hide the browser's default checkbox */
.labelholder input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px !important;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.labelholder:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.labelholder input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.labelholder input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.labelholder .checkmark:after {
    left: 9px;
    top: 2px;
    width: 8px;
    height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/*Radio Button CSS*/


/* Customize the label (the container) */
.radioholder {
  display: block !important;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}

/* Hide the browser's default radio button */
.radioholder input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.radiomark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radioholder:hover input ~ .radiomark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radioholder input:checked ~ .radiomark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radiomark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radioholder input:checked ~ .radiomark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radioholder .radiomark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}



.labholder label{ display: inline-block !important; width: auto; margin: 0 10px; }


/*form styles*/
#msform {position: relative; margin-top: 30px; margin-bottom: 50px;}

#msform form {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 0;

    /*stacking forms above each other*/
    position: relative;
}

/*Hide all except first form*/
#msform form:not(:first-of-type) {
    display: none;
}

/*inputs*/
#msform input, #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}

#msform input:focus, #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #ee0979;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
    border-bottom: 2px solid rgba(66,144,202,1) !important;
}

/*buttons*/
#msform .action-button {
    width: 120px;
    background: rgba(66,144,202,1);
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 15px;
    margin: 10px 5px;
    font-size: 16px;
}

#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px rgba(66,144,202,1);
}

#msform .action-button-previous {
    width: 120px;
    background: #333;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    font-size: 16px;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}

.form-inline .form-control {
    width: 100%;
}
.form-group{ width: 100%; }

.form-control {
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    border-radius: 0;
    box-shadow: 0 0 2px #00000073;
    border: 0 !important;
    height: 50px;
    border-bottom: 1px solid #fff;
}
.form-inline .form-control:focus {
    color: rgb(73, 80, 87);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(73, 80, 87, 0.11) 0px 0px 0px 0.2rem;
    width: 100%;
    border-color: rgb(221, 221, 221);
    outline: none;
}

.form-control:focus {
    border-bottom: 2px solid rgba(66,144,202,1) !important;
}

/*headings*/
.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
    text-align: center;
    padding: 0;
    display: inline-block;
    width: 100%;
}

#progressbar li {
    list-style-type: none;
    color: rgba(37,39,51,1);
    text-transform: uppercase;
    font-size: 18px;
    width: 11%;
    display: inline-block;
    position: relative;
    letter-spacing: 1px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
}


#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: block;
    font-size: 27px;
    color: #333;
    background: white;
    border-radius: 25px;
    margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 20px;
    z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #4290ca;
    color: white;
}


/* Not relevant to this form */
.dme_link {
    margin-top: 30px;
 
}
.dme_link a {
    background: #FFF;
    font-weight: bold;
    color: #ee0979;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 5px 25px;
    font-size: 12px;
}

.dme_link a:hover, .dme_link a:focus {
    background: #C5C5F1;
    text-decoration: none;
}

.label-icon{}

/* Create a custom radio button */
.label-icon .radiomark {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100% !important;
  background-color: transparent;
  border-radius: 0;
  border: 2px solid #000;
}

/* On mouse-over, add a grey background color */
.label-icon .radioholder:hover input ~ .radiomark {
  border: 2px solid #4290ca;
  background-color: transparent;
}

/* When the radio button is checked, add a blue background */
.label-icon .radioholder input:checked ~ .radiomark {
  background-color: transparent;
  border: 2px solid #4290ca;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.label-icon .radiomark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */


/* Style the indicator (dot/circle) */
.label-icon .radioholder .radiomark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}


.label-icon{ float: left; margin: 0 10px;  text-align: center; }
.label-icon i{ font-size: 35px; display: block; margin-bottom: 15px; }
.label-icon label{ margin:0;  padding: 20px 20px;}

.radiocurrent label{ color: #fff; background: #4290ca; }
.radiocurrent i{ color: #fff; }


input.error{ border-bottom: 2px solid red !important; }
.form-group .form-inline label{ justify-content: left !important;  }

/** Dashboard Pages CSS **/

.dashb-leftarea{ height: 100vh; max-height: 100%; min-height: 100%; display: flex; position: relative; background:#000; }


.adduser-btn{ display: block; text-align: right; }
.adduser-btn a{ font-size: 20px; color: #fff; background: #4290ca; padding: 7px 15px; display: inline-block; margin-bottom: 15px; }


.np-lft0{ padding-left: 0; }

.dblogo{text-align: center; margin-top: 50px; width: 100%; position: absolute; }
.dblogo img{ width: 70%; }
.dbnav{ display: inline-flex; align-items: center; width: 100%;}
.dbnav ul{ padding: 0; margin: 0; width: 100%; }
.dbnav ul li{ list-style: none; }

.dbnav ul li a{ text-decoration: none; color: #858997; font-size: 18px; font-family: 'Roboto', sans-serif; font-weight: 400; display: block; margin: 10px 0; width: 100%; position: relative; }
.dbnav ul li a .icon{ margin-right: 20px; display: inline-block; padding: 20px 24px; }
.dbnav ul li a .icon:before{ background: red; content: ""; display: block;  }

.dbnav ul li a:hover{ color: #4290ca; background:#fff;  }
.dbnav ul li a:hover .icon{ background: #4290ca; border-radius: 0 35px 35px 0; }
.dbnav ul li a:hover .icon img{ filter: brightness(10); }

.dbnav ul li a:after{ content: "\f105"; font-size: 20px; color: #ddd; font-family: "FontAwesome"; position: absolute; right: 6%; top: 28%; }

.dbinfo-main{ position: relative; margin: 0; }
.dbinfo-main:before{  }

.admin-info h3{ font-family: 'Roboto', sans-serif; font-weight: 400; color: #000; font-size: 24px; padding-top: 30px; padding-bottom: 20px; padding-left: 50px; }
.admin-info h3 strong{ font-weight: 700; }

.admin-info h3 a{ text-decoration: none; font-size: 16px; background: #4290ca; color: #fff; padding: 7px 15px;  display: inline-block; margin-top: 20px; }



.admin-info .admin-tbl{ background: #fff; border-radius: 20px; padding: 30px; box-shadow: 0 0 15px -9px #333; position: relative; }

.admin-tbl .bs-example{ overflow-y: scroll; height: 65vh; }

.admin-tbl .bs-example::-webkit-scrollbar-track {
  padding: 2px 0;

}

.admin-tbl .bs-example::-webkit-scrollbar {
  width: 7px;
}

.admin-tbl .bs-example::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #858997;
 
}


.admin-tbl .bs-example table tr td ul{}
.admin-tbl .bs-example table tr td ul li{ display: inline-block; }
.admin-tbl .bs-example table tr td ul li a{ display: block; margin: 0 3px; }


.admin-tbl .bs-example table tr td { color: #4290ca; font-size: 18px; vertical-align: middle; border: none;}
.admin-tbl .bs-example table tr td span{ color: #858997; }
.admin-tbl .bs-example table tr td strong{ font-size: 20px; color: #000; }


.admin-tbl .accordion .card{ border: none; }
.admin-tbl .accordion .card .card-header{ background-color: transparent; }
.admin-tbl .accordion .card .card-header h2 button{ width: 100%; text-align: left; display: inline-flex; justify-content: space-between; text-decoration: none; font-weight: 700; font-size: 18px; color: #15181a; font-family: 'Roboto', sans-serif; }
.admin-tbl .accordion .card .card-header h2 button i{ font-size: 14px; border: 1px solid #252523; padding:3px; border-radius: 4px; }
.admin-tbl .accordion .card .card-header h2 button:focus{ outline: none; box-shadow: none; }

.client-name{ width: 100%; display: inline-flex; justify-content: space-between; }
.client-name h4{ font-size: 16px; color: #858997; margin-top: 0; }
.client-name a {     font-size: 22px; display: inline-block; color: #ddd; }
 

.graphmain{ margin-top: 0; }

.graph-img img{ width: 100%; }

.user-icon{ text-align: right; }
.user-icon i{ font-size: 100px; color: #d9d9d9; }

.chartholder{ text-align: center; margin-top: 40px; }
#piechart{ display: inline-block; }

.viewbtn{     position: absolute;
    right: 0;
    bottom: 6px; }
.viewbtn a{background: #4290ca;
    color: #fff;
    font-size: 16px;
    padding: 8px 15px;
    border-radius: 0 0 20px 0; }

.inleft-area{}
.inleft-area p{ color: #4290ca; font-size:26px;  }
.inleft-area img{ margin-right: 10px; }
.inleft-area h3{ color: #000; margin: 0; padding: 0; font-weight: 700; font-size: 30px; }

.inleft-area-2 p{ color: #f64000; }

.mt-custom{ margin-top: 85px; }
.mt-custom-2{ margin-top: 30px; }

.static{ text-align: center; }
.static ul{ padding: 0; margin:30px 0 0 0 ; display: flex; justify-content: space-between;  }
.static ul li{ list-style: none; }
.static ul li a{ text-decoration: none;  }

.static ul li a:before{ content: ""; display: inline-block; height: 14px; width: 14px; border-radius: 50%; margin-right: 10px; }

.static ul li:nth-child(1) a:before{ background: #4290ca; }
.static ul li:nth-child(2) a:before{ background: #00cd98; }
.static ul li:nth-child(3) a:before{ background: #f6b900; }

.static img{ margin-top: 40px;}

.dbadmin{ display: inline-flex; align-self: flex-end; width: 100%; position: absolute; left: 0; bottom: 30px; padding: 0 30px; }
.dbadmin ul{ padding: 0; margin: 0; display: inline-flex; justify-content: space-between; width: 100%; }
.dbadmin ul li{ list-style: none; }
.dbadmin ul li a{ font-size: 20px; text-decoration: none; color: #fff; font-weight: 400;  position: relative;}
/*.dbadmin ul li:first-child a:before{ content: ""; display: inline-block; background: #d8d8d8; height: 40px; width: 40px; border-radius: 50%; position: absolute; }*/


.recent-name{}
.recent-name ul{ margin: 0; padding: 0; justify-content: space-between; display: flex; }
.recent-name ul li{list-style: none; font-size: 20px; color: #000; font-weight: 700; }
.recent-name ul li:last-child{ color: #858997; font-weight: 400; }

.recent-name p{ color: #4290ca; }



.toggle-btn{ display: none; }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.closebtn{ display: none; }
table.acc-tblcutom tbody tr td{ padding: 3px 0; }
table.acc-tblcutom tbody tr td strong{ font-size: 16px !important; font-weight: 500;  }

table.acc-tblcutom tbody tr.adition-title td strong{ color: #4290ca; }

.p-left-15{ padding-left: 15px !important; }


.acc-tblcutom{}

.stepbox-1 .label-icon label{ height: 100px; width: 100px; line-height: 100px; padding-top: 0; }
.stepbox-1 .label-icon i{ font-size: 30px; margin-bottom: 8px; margin-top: 10px; }
.stepbox-1 .radioholder{ font-size: 16px; padding: 10px 0; }

.stepbox-2 .label-icon label { margin: 0; padding: 30px 10px 0; height: 140px; width: 140px;}
.stepbox-2 .radioholder{ font-size: 16px; padding: 10px 0; }

.stepbox-4 .radioholder{ font-size: 16px; }
.stepbox-4 .label-icon{ width: 20%; margin: 0; padding: 0 15px; }
.stepbox-4 .label-icon label{ height: 150px; padding: 40px 0 0; }
.stepbox-4 .label-icon i{ font-size: 20px; } 

.stepbox-6 .label-icon{ width: 50%; margin: 0; padding: 0 10px; }
.stepbox-6 .radioholder{ font-size: 11px; }
.stepbox-6 .label-icon i{ font-size: 20px; }

.stepbox-6 .label-icon label{ min-height: 100px; }


/** Dashboard Pages CSS Close **/


/**************** New CSS Here Dated: 10-9-2020 *******************/

h4{ margin: 20px 0; }
inputs.error{ border: 1px solid red !important; }
label.error{ display: none !important; }
.customodal .modal-body button.btn-success {
    color: #fff;
    background: #4290ca !important;
    margin-right: 20px;
    padding: 12px 40px;
}
.customodal .modal-body button.btn-warning {
    color: #4290ca;
    border: 2px solid #4290ca;
    background-color: transparent;
    padding: 10px 40px;
}
.customodal .modal-header h4 {
    margin: 0;
}
.radio-custom{background: #27aae1; color: #fff; padding: 15px 10px; border-radius: 8px; margin-bottom: 20px;}

.radio-custom .tname{ display: inline-block; margin-top: 6px; }
.radio-custom .radioholder input:checked ~ .radiomark{ background-color: #000; }

.invest-tptxt p{ margin: 15px 0; }

.ynoption label{ display: inline-block !important; width: auto !important; margin-top: 0; }


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0;}
input[type=number] { -moz-appearance: textfield;}

.customodal{ text-align: center; }
.customodal .modal-body p{ font-size:15px;  }
.customodal .modal-body button{ color: #fff; }

.sendForm{ width: 50%; }
.sendForm h3{ font-size: 24px; text-transform: uppercase; color: #007bff; padding: 0; margin-top: 30px; margin-bottom: 10px; }
.sendForm form{}
.sendForm form input[type="text"]{width: 100%; display: block; margin: 15px 0; height: 50px; border: none; border-bottom: 2px solid #007bff; }
.sendForm form input[type="email"]{width: 100%; display: block; margin: 15px 0; height: 50px; border: none; border-bottom: 2px solid #007bff; }
.sendForm form input[type="password"]{width: 100%; display: block; margin: 15px 0; height: 50px; border: none; border-bottom: 2px solid #007bff; }
.sendForm form input:focus{ outline: none; }
.sendForm form textarea{ width: 100%; border: none; border-bottom: 2px solid #007bff; height: 200px; resize: none;  }
.sendForm form input[type="submit"]{ border: none; background: #007bff; color: #fff; font-size: 20px; display: block; text-transform: uppercase; padding: 15px 50px; margin: 30px auto 0; }
.sendForm form textarea:focus{ outline: none; }
.sendForm form input[type="text"]:disabled {
  background: #dddddd;
}
.custom-control{ padding-left: 0; }

.thankyou{ text-align:center;  margin: 40px 0; }
.thankyou h2{ text-transform: uppercase; font-size: 50px; font-weight:700; }
.thankyou p{ font-size: 20px; line-height: 32px; padding: 0 15%;  }
.thankyou a{ font-size:18px;  }
.savedraft p{ margin: 0; }
.savedraft p span{ color: red; }

.filter{}
.filter ul{ margin: 0; padding:0;   justify-content: space-between; display: flex;  }
.filter ul li{ list-style: none; }
.filter ul li input.show{font-size: 15px; width: 12%; margin-right: 10px; text-align: center; }

.filter .light-table-filter{ border: 1px solid #ddd; padding:5px 5px;  }
.filter .light-table-filter:focus{ outline: none;  }

 table.order-table{ text-align: center; }
 table.order-table thead tr th{ font-weight: 400; }


/**************** New CSS Here Dated: 10-9-2020 Close *******************/




/********************* New Css 15-9-2020*************************/

.stepbox-8 .maincontent .clientagreerow .pdfagreement div label span.checkmark{ left: auto; right: 0;  }
.stepbox-8 .maincontent .clientagreerow .pdfagreement div.lastbox-step-7 { left: 0; right: auto;  }

/********************* New Css 15-9-2020 Close*************************/
.stepbox-8 .maincontent .clientagreerow .pdfagreement div label span.checkmark{ left: auto; right: 0;  }
.stepbox-8 div.lastbox-step-7 { width: 100% !important;  }
.stepbox-8 .lastbox-step-7 label span.checkmark{ left: 0 !important; right: auto !important;  }

.liquidi-need .radioholder{ font-size: 17px;}
.expected-per .radioholder{ font-size: 17px; line-height: 100px; padding: 0;}

.viewholder-txt{ line-height: 41px; }
.viewholder-txt a{ text-decoration: underline; margin-top: 10px; display: block; }
.viewholder-txt p{ margin-top: 13px; color: #888; font-family: 'Nunito', sans-serif; font-size:18px;  }




/**/






@media all and (max-width: 767px) {
  .stepholder{ display: none; }
  #progressbar li{ width: 33.3333%; font-size:12px; display: none;  }
  #progressbar li:before{ width: 30px; height: 30px; line-height: 30px; font-size: 14px; }

  .dblogo img{ width: 100%; padding:0 20px; }

  .stepbox-4 .label-icon{ width: 33.33333%; }



}

@media all and (max-width: 575px) {
  .dblogo{ position: static; }
  .dashb-leftarea{ height: 100%; display: block; }
  .toggle-btn{ display: block; width: 100%; text-align: right; position: absolute; z-index: 1000;  }
  .toggle-btn button{ background: none; font-size:26px; border: none; color: #fff;  }

  .dbadmin{ position: static; }
  .closebtn{ display: block; }
 
  .dbadmin ul li a{ color: #000; }
  .sidenav .closebtn{ margin-left: 20px; }
  .dbadmin{ padding: 0; }
  .sidenav a{padding-left: 0;}
  .closebtn{ position: absolute;top: 0; right: 0; }

.stepbox-4 .label-icon{ width: 100%; }

}




@media all and (max-width: 480px) {
  #progressbar li{ width: 50%; font-size:12px;  }
  #progressbar li:before{ width: 30px; height: 30px; line-height: 30px; font-size: 14px; }

  .stepbox-2 .labholder{ text-align: center !important; }
   .stepbox-2 .labholder .label-icon{ margin: 0 10px !important; display: inline-block; }

   .stepbox-7 table{ display: block; width: 100%; overflow-x:scroll; overflow-y: hidden;  }
   .thankyou h2{ font-size:35px; margin-bottom: 20px; }
   .thankyou p {font-size: 16px; line-height: 24px; padding: 0 6px;}
}


















