.logoholder {
  margin-top: 50px;
  margin-bottom: 40px;
}

ul li {
  list-style: none;
}

h3 {
  font-size: 24px;
  margin: 20px 0;
}
h6 {
  margin-top: 15px;
}

p {
  margin: 0 0 15px 0;
  padding: 15px 0;
}
.color-red {
  color: red;
}

label {
  border: 1px solid #333;
  background: #fff;
  height: 20px;
  width: 20px;
  float: left;
  margin: 3px 20px 0px 0px;
}

.margin-t-0 {
  margin-top: 0 !important;
}
.margin-b-0 {
  margin-bottom: 0 !important;
}
.padding-b-0 {
  padding-bottom: 0 !important;
}

.list-number {
  margin-top: 50px;
}
.list-number li {
  margin-bottom: 10px;
}

.border-t {
  border-top: 2px solid #000;
}
.border-b {
  border-bottom: 2px solid #000;
}
.border-r {
  border-right: 2px solid #000;
}
.border-l {
  border-left: 2px solid #000;
}

.form-data-1 {
  border: 2px solid #000;
  margin-bottom: 15px;
}

.formbox {
  padding: 0 15px;
  margin-bottom: 0;
}

ul.li-col-style-1 {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}

ul.li-col-style-2 {
  margin: 20px 0 0;
  padding: 0 0;
}
ul.li-col-style-2 li {
  display: inline-block;
  margin: 0 15px;
}

.form-data-nobox p {
  padding: 0;
  margin: 15px 0 15px 0;
}
.form-data-nobox hr {
  margin: 0;
}

.formbox ul li {
  margin-bottom: 15px;
}

.other-txt {
  display: inline-block;
  width: 70%;
}

.exp-boxes ul {
  display: inline-block;
}
.exp-boxes ul h6 {
  margin-bottom: 15px;
}
.exp-boxes ul li {
  margin-bottom: 15px;
}
