<!DOCTYPE html>
<html lang="en">
<head>
  <title>Guardian</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js"></script>
  <link rel="stylesheet" type="text/css" href="assets/css/main.css">

  <style type="text/css">
    body{ background: #000; }
    .errorholder{ background:#fff; margin-top: 10%; border-radius: 5px;  }
    .errorholder{ padding: 40px; }
    .errorholder h5{ text-align: center; font-size: 24px; margin-bottom: 20px; font-weight: 700; display: block; color: #ff5656; }
    .forgot-pwd form input[type="password"]{ width: 100%; padding:0 10px; height: 50px;  box-shadow: 0 0 7px #0000002e; border: none; border-bottom: 2px solid #fff; margin-bottom: 15px;  }
    .forgot-pwd form input[type="password"]:focus{ border-bottom: 2px solid rgba(66,144,202,1); outline: none; }
    .errorholder a{ text-decoration: underline; font-size:18px; text-align: center; display: block;  }
    .errorholder a.backbtn{ background:rgba(66,144,202,1); border: none; margin-top: 15px; width: 100%; color: #fff; text-transform: uppercase; font-size:18px; display: inline-block; padding: 10px 30px; font-weight: 700; text-align: center; text-decoration: none;}
  </style>



</head>
<body>

  <div class="container-fluid">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-md-3"></div><!-- // Col // -->
          <div class="col-md-6">
            <div class="errorholder">
              <h5>Error!</h5>
              <p>Oops! the link seem to be broken please contact administrator </p>
                <a href="mailto:info@guardiantrading.com">info@guardiantrading.com</a>
                <a class="backbtn" href="/login">Back To Home</a>
              
            
          </div>
          </div><!-- // Col // -->
          <div class="col-md-3"></div><!-- // Col // -->
        </div><!-- // Row // -->
      </div><!-- // Container // -->
    </div><!-- // Row // -->
  </div><!-- // Container-fluid // -->






<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/eonasdan-bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="assets/js/script.js"></script>
</body>
</html>



