<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<% if(config.entity == 'Support') { %>
		<link rel="icon" href="assets/img/vcl_logo.png" />
	<% } else if(config.entity == 'Guardian') { %>
		<link rel="icon" href="#" />
	<% } %>
	
	<% if(config.entity == 'Support') { %>
		<title>Support Entry Screen</title>
	<% } else if(config.entity == 'Guardian') { %>
		<title>Guardian</title>
	<% } %>
	<!-- CSS STYLES -->
	<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet" />
	<link type="text/css" href="../../../assets/vendors/bs/css/bootstrap.css" rel="stylesheet" />
	<link type="text/css" href="../../../assets/vendors/faicon/css/font-awesome.css" rel="stylesheet" />
	<link type="text/css" href="../../../assets/vendors/multisteps/jquery.steps.css" rel="stylesheet" />
	<link type="text/css" href="../../../assets/vendors/aos/aos.css" rel="stylesheet" />
	<link type="text/css" href="../../../assets/vendors/dtpicker/jquery.datetimepicker.css" rel="stylesheet" />
	<link type="text/css" href="../../../assets/css/wpb_style.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://design9tech.com/Guardian/css/new_account.css" />
	<link rel="shortcut icon" href="assets/img/newfavicon.png" type="image/x-icon" />
	<style>
		.logoholder {
			text-align: center;
		}

		.logoholder img {
			width: 50%;
			margin-right: 5%;
		}
		.reg_form a.reg_btn_customize {
		border: #27AAE1 !important;
		background-color: #27AAE1 !important;
		padding: 0.5rem 1rem;
		font-size: 1.25rem;
		line-height: 1.5;
		border-radius: 0.3rem;
		color: #fff;
		}
		.reg_btn_para{
		margin-top:18px !important;
		margin-bottom:20px;
		}
	</style>

	<script>
		localStorage.removeItem("closeTab")
	</script>
</head>

<body style="background-color: #000">
	<section class="wpb_loader">
		<div class="loader"></div>
	</section>

	<div class="container-fluid" style="background-color: #000">
		<div class="container">
			<br /><br /><br />
			<!-- Rigister form -->
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<form action="/login" method="post">
						<div class="reg_form">
							<div class="col-md-12 logoholder">
								<% if(config.entity == 'Support') { %>
									<img src="assets/img/logo-1.jpg" alt="Support" />
								<% } else if (config.entity == 'Guardian') { %>
									<img src="assets/img/GUARDIANTRADINGblack_FINRASIPC.png" alt="Guardian" />
								<% } %>
							</div>
							<br />
							<h3 class="text-center"><b>User Sign In</b></h3>
							<p class="text-center reg_btn_para">
							<% if(config.entity != 'Support') { %>
								<a href="/register" class="reg_btn_customize">Open an Account Now</a>
							<% } %>
									
							</p>
							<hr />
							<%- include('messages'); -%>
							<input name="email" type="email" class="form-control" placeholder="Email" required autofocus
								value="<%= typeof email != 'undefined' ?    email : '' %>" />
							<hr />
							<input name="password" type="password" class="form-control" placeholder="Password"
								required />
							<hr />
							<input type="submit" value="Log in" class="btn btn-success btn-lg form-contro" />
							<div class="forgot-pwd">
								<a href="/forgot-password">Forgot Password?</a>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-2"></div>
			</div>
			<!-- End -->
			<br /><br /><br />
		</div>
	</div>
</body>
<!-- JS SCRIPTS -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js">
</script>
<script type="text/javascript" src="../../../assets/vendors/jquery/popper.min.js"></script>
<script type="text/javascript" src="../../../assets/vendors/bs/js/bootstrap.js"></script>
<script type="text/javascript" src="../../../assets/vendors/multisteps/jquery.steps.js"></script>
<script type="text/javascript" src="../../../assets/vendors/aos/aos.js"></script>
<script type="text/javascript" src="../../../assets/vendors/dtpicker/jquery.datetimepicker.full.js"></script>
<script type="text/javascript" src="../../../assets/js/wpb_scripts.js"></script>
<script type="text/javascript" src="../../../assets/js/wpb_code.js"></script>

</html>
<!-- CUSTOM_CODE_START -->
<script type="text/javascript">
	window.__lc = window.__lc || {};
	window.__lc.license = 11913591;
	(function () {
		var lc = document.createElement('script');
		lc.type = 'text/javascript';
		lc.async = true;
		lc.src =
			('https:' == document.location.protocol ? 'https://' : 'http://') +
			'cdn.livechatinc.com/tracking.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(lc, s);
	})();
</script>
<noscript>
	<a href="https://www.livechatinc.com/chat-with/11913591/" rel="nofollow">Chat with us</a>, powered by
	<a href="https://www.livechatinc.com/?welcome" rel="noopener nofollow" target="_blank">LiveChat</a>
</noscript>