<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= config.appDetails.appTitle %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="shortcut icon" href="assets/img/vcl_logo.png" type="image/x-icon" />
    <link type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
        </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"
        integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ=="
        crossorigin="anonymous"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
        integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw=="
        crossorigin="anonymous" />
    <link href="assets/jquery.signaturepad.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
    <script type="text/javascript" src="assets/js/validate.js"></script>
    <script src="assets/jquery.signaturepad.js"></script>
    <link rel="stylesheet" href="../../../assets/plugins/sweetalert2/dist/sweetalert2.css">
    <script src="../../../assets/plugins/sweetalert2/dist/sweetalert2.all.min.js"></script>
    
    <style>
        .liquidNetWorth_error {
            border: 2px solid red;
        }

        .loader {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite;
            /* Safari */
            animation: spin 2s linear infinite;
        }

        #loaderModal {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            color: white;
            text-align: center;
            background: rgba(0, 0, 0, 0.5);
            position: fixed;
            width: 100%;
            z-index: 1;
        }

        /* Safari */
        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row topheader">
            <div class="headwrap">
                <div class="topnbmr">
                    <a href="tel:8449631512"><i class="fa fa-phone" data-name="phone-alt"
                            style="margin-right: 3px;font-size: 20px;"></i> 844-963-1512</a>
                </div>
            </div>
        </div>
        <div class="row navmain">
            <div class="headwrap">
                <nav class="navbar navbar-expand-lg">
                    <% if(config.entity != 'Support') { %>
                        <a class="navbar-brand" href="#"><img src="<%= process.env.MEDIAURL + '/assets/img/GUARDIANTRADINGWHITE_FINRASIPC.png'%>"
                            alt="Guardian-Logo" title="Guardian-Logo" style="width:144px;"></a>
                    <% } else { %>
                        <a class="navbar-brand" href="#"><img src="<%= process.env.MEDIAURL + '/assets/img/vcl_logo.png'%>"
                            alt="Guardian-Logo" title="Guardian-Logo" style="width:56px;">
                        <span style="color:white">Velocity Clearing</span>
                    </a>
                    <% } %>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav ml-auto mr-auto">
                            <li class="nav-item"><a class="nav-link" href="javascript:;">home</a></li>
                            <li class="nav-item"><a class="nav-link" href="javascript:;">About Us</a></li>
                            <li class="nav-item"><a class="nav-link" href="javascript:;">Services </a></li>
                            <li class="nav-item"><a class="nav-link" href="javascript:;">Platforms</a></li>
                            <li class="nav-item"><a class="nav-link" href="javascript:;">Pricing</a></li>
                            <li class="nav-item"><a class="nav-link" href="javascript:;">Contact Us</a></li>


                        </ul>
                        <ul class="login-area">
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>
                </nav>
            </div>

        </div>
    </div><!-- // Container-Fluid // -->

    <div class="container-fluid">
        <div class="row mt-2 mb-2">
            <div class="col-md-12">
                <button class="btn btn-success pull-right" onclick="window.location='redirect-register'">Add Account</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 table-responsive">
                <table class="table table-head-fixed text-nowrap">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>State</th>
                            <th>Country</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i < users.length; i++){ %>
                            <tr>
                                <td><%- users[i].firstName %></td>
                                <td><%- users[i].lastName %></td>
                                <td><%- users[i].email %></td>
                                <td><%- users[i].state %></td>
                                <td><%- users[i].country %></td>
                                <% if(users[i].isDraft == true) { %>
                                    <td><i onclick="window.location='redirect-register/<%= users[i].id %>'" title="Edit application" class="fa fa-pencil"></i></td>
                                <% } else if(users[i].isApprove == true) { %>
                                    <td style='color: green'><i title="Application Approved" class="fa fa-check-circle"></i></td>
                                <% } else { %> 
                                    <td style='color: green'><i title="Pending" class="fa fa-clock-o"></i></td>
                                <% } %>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
    </script>
</body>

</html>