<!DOCTYPE html>
<html lang="en">
<head>
  <title>Guardian Admin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../../../assets/css/main.css">
</head>
<body>

    <div class="container-fluid">
        <div class="row">
             <div class="col-md-3 col-sm-4 np-lft0">
                <div class="dashb-leftarea">
                    <div class="toggle-btn">
                          <button onclick="openNav()"><i class="fa fa-bars" aria-hidden="true"></i></button>
                      </div>
                      <div class="dblogo"><img src="../../../assets/img/logo-black.png"></div>
                      
                    <div class="dbnav">
                      <ul>
                        <li><a href="/admin/dashboard"><i class="icon icon-1"><img src="../../../assets/img/nav-icon1.png"></i> Dashboard</a></li>
                        <li><a href="/admin/applications"><i class="icon icon-2"><img src="../../../assets/img/nav-icon2.png" alt=""></i> Applications</a></li>
                        <!-- <li><a href="/favourites"><i class="icon icon-3"><img src="../../../assets/img/nav-icon3.png" alt=""></i> Favourites</a></li> -->
                      </ul>
                    </div>
                      <div class="dbadmin">
                      <ul>
                        <li><a href="#">Admin</a></li>
                        <li><a href="#"><i class="fa fa-ellipsis-h"></i></a></li>
                      </ul>
                    </div>

                </div>
              
            </div><!-- // Row // -->
            <div class="col-md-8 offset-md-1 p-lr-0">
                <div class="dbinfo-main">
                  
                    <div class="col-md-11 offset-md-1">
                      <div class="admin-info">
                        <h3>Welcome back, <strong>Admin</strong></h3>
                        <div class="admin-tbl">
                          <div class="client-name">
                            <h4>Applications</h4>
                            <a href="javascript:;"><i class="fa fa-ellipsis-h"></i></a>
                          </div>
                          
                                <div class="bs-example">
                                
                                <table class="table">
  
                                    <tbody>
                                      <% if(typeof users !== 'undefined') { %>
                                     
                                        <% users.forEach(function(user) { %>
                                        <tr>
                                          <td><strong><%= user.firstName %>  <%= user.lastName %></strong> <br> <%= user.country %></td>
                                          <td><span><%= moment(user.createdAt).format( 'MMM-DD-YYYY') %></span></td>
                                          <td>
                                              <ul>
                                                  <li><a href="/admin/application-details/<%=user._id%>"><img src="../../../assets/img/admin-icon-1.png"></a></li>
                                                  <li><a href="/admin/application-detail/<%=user._id%>"><img src="../../../assets/img/admin-icon-2.png"></a></li>
                                                  <li><a href="/admin/application-reject/<%=user._id%>"><img src="../../../assets/img/admin-icon-3.png"></a></li>
                                                  <li><a href="/admin/application-accept/<%=user._id%>"><img src="../../../assets/img/admin-icon-4.png"></a></li>
                                              </ul>           
                                          </td>
                                        </tr>
                                      <% }) } %>
                                      
                                      
                                    </tbody>
                                  </table>

                            </div>
                        </div>
                      </div>
                    </div><!-- // Col // -->
                 
                </div>
            </div><!-- // Row // -->
        </div><!-- // Row // -->
    </div><!-- // Container-fluid // -->






<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/eonasdan-bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="assets/js/script.js"></script>
</body>
</html>



