<%- include('admin_include/_head'); -%>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
	<div class="wrapper">
		<!-- Navbar -->
		<%- include('admin_include/_navbar'); -%>
		<!-- /.navbar -->

		<!-- Main Sidebar Container -->
		<!-- Sidebar -->
		<%- include('admin_include/_sidebar'); -%>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">

						</div><!-- /.col -->
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">


							</ol>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->

			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<!-- Info boxes -->

					<div class="row">
						<div class="col-12 col-sm-6 col-md-3">
							<a class="cLink" href="/admin/accepted-application">
								<div class="info-box">
									<span class="info-box-icon bg-info elevation-1"><i class="fas fa-check"></i></span>

									<div class="info-box-content">
										<span class="info-box-text">Accepted</span>
										<span class="info-box-number"><%= applicationAcceptCount %></span>
									</div>
									<!-- /.info-box-content -->
								</div>
							</a>
							<!-- /.info-box -->
						</div>
						<!-- /.col -->
						<div class="col-12 col-sm-6 col-md-3">
							<a class="cLink" href="/admin/rejected-application">
								<div class="info-box mb-3">
									<span class="info-box-icon bg-danger elevation-1"><i class="fas fa-ban"></i></span>

									<div class="info-box-content">
										<span class="info-box-text">Rejected</span>
										<span class="info-box-number"><%= applicationRejectCount %></span>
									</div>
									<!-- /.info-box-content -->
								</div>
							</a>
							<!-- /.info-box -->
						</div>
						<!-- /.col -->

						<!-- fix for small devices only -->
						<div class="clearfix hidden-md-up"></div>

						<div class="col-12 col-sm-6 col-md-3">
							<a class="cLink" href="/admin/pending-application">
								<div class="info-box mb-3">
									<span class="info-box-icon bg-success elevation-1"><i
											class="far fa-clock"></i></span>

									<div class="info-box-content">
										<span class="info-box-text">Pending</span>
										<span class="info-box-number"><%= applicationPendingCount %></span>
									</div>
									<!-- /.info-box-content -->
								</div>
							</a>
							<!-- /.info-box -->
						</div>
						<!-- /.col -->
						<div class="col-12 col-sm-6 col-md-3">
							<a class="cLink" href="/admin/draft-application">
								<div class="info-box mb-3">
									<span class="info-box-icon bg-warning elevation-1"
										style="color: #fff !important;"><i class="fas fa-pen"></i></span>
									<div class="info-box-content">
										<span class="info-box-text">In Draft</span>
										<span class="info-box-number"><%= applicationDraftCount %></span>
									</div>

									<!-- /.info-box-content -->
								</div>
							</a>
							<!-- /.info-box -->
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->

					<div class="row">
						<div class="col-12 col-sm-12">
							<div class="card card-primary card-outline card-outline-tabs">
								<div class="card-header p-0 border-bottom-0">
									<ul class="nav nav-tabs customTabs" id="custom-tabs-four-tab" role="tablist">
										<li class="nav-item">
											<a class="nav-link" id="custom-tabs-four-home-tab" data-toggle="pill"
												href="#custom-tabs-four-home" role="tab"
												aria-controls="custom-tabs-four-home" aria-selected="true">All</a>
										</li>
										<li class="nav-item">
											<a class="nav-link active" id="custom-tabs-four-profile-tab" data-toggle="pill"
												href="#custom-tabs-four-profile" role="tab"
												aria-controls="custom-tabs-four-profile"
												aria-selected="false">Pending</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" id="custom-tabs-four-messages-tab" data-toggle="pill"
												href="#custom-tabs-four-messages" role="tab"
												aria-controls="custom-tabs-four-messages"
												aria-selected="false">Draft</a>
										</li>

									</ul>

								</div>
								<div class="card-body customTabsBody">
									<div class="tab-content" id="custom-tabs-four-tabContent">
										<div class="tab-pane fade" id="custom-tabs-four-home"
											role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
											<div class="row">
												<div class="col-12">
													<div class="card">
														<div class="card-header">
															<!-- <h1>qwerty</h1> -->
														</div>
														<!-- /.card-header -->
														<div class="card-body table-responsive p-0"
															>
															<table id="allApplicationTable" class="table table-head-fixed text-nowrap">
																<thead>
																	<tr>
																		<th>User Name</th>
																		<th>User Email</th>
																		<th>Entity</th>
																		<th>Date</th>
																		<th>Status</th>
																		<th>TrueId</th>
																		<th>Bridger</th>
																		<th class="text-center">Action</th>
																	</tr>
																</thead>
																<tbody>
																	<% applications.forEach(function(application) { %>
																		<tr>
																			<td> <%= (application.firstName || '-') +' '+ (application.lastName ||'-')%> </td>
																			<td> <%= application.email %> </td>
																			<td> <%= application.entity %> </td>
																			<td> <%= moment(application.createdAt).format('MMM-DD-YYYY') %> </td>
																			<!-- 
																				isApprove
																				isDraft
																			 -->
																			<% if(application.isDraft && application.isApprove==null) { %>
																			<td>
																				<span
																					class="badge badge-warning">Draft</span>
																			</td>
																			<td></td>
																			<td></td>
																			<td class="custom-icons">
																				<button id="<%= application._id %>"
																					data-toggle="tooltip"
																					title="Draft Application Mail"
																					class="btn btn-warning btn-sm draft"> <i
																						class="far fa-envelope draft"></i>
																				</button>
																				<button
																					onclick="window.location='application-details/dashboard/<%= application._id %>'"
																					data-toggle="tooltip"
																					title="View Application"
																					class="btn btn-success btn-sm"><i
																						class="far fa-eye"></i></button>
																			</td>
																			<% }else if(application.isApprove  && !application.isDraft){ %>
																			<td><span class="badge badge-info">Accepted</span></td>
																			<td>
																				<button onclick="window.location='trueId-response/<%= application._id %>'" data-toggle="tooltip" title="TrueId"  class="btn btn-success btn-sm"><i class="far fa-eye"></i></button>  
																			</td>
																			<td>
																				<button onclick="window.location='bridger-response/<%= application._id %>'" data-toggle="tooltip" title="BridgerId"  class="btn btn-success btn-sm"><i class="far fa-eye"></i></button>  
																			</td>
																			<td class="custom-icons">
																				<a href='user-pdf/<%= application._id %>' target="_blank" data-toggle="tooltip" title="Download Application"  class="btn btn-success btn-sm">
																					<i class="fa fa-print"></i>
																				</a>
																				<button
																					onclick="window.location='application-details/dashboard/<%= application._id %>'"
																					data-toggle="tooltip"
																					title="View Application"
																					class="btn btn-success btn-sm"><i
																						class="far fa-eye"></i>
																				</button>
																			</td>
																			<% }else if(application.isApprove==null  && !application.isDraft){ %>
																			<td>
																				<span
																					class="badge badge-success">Pending</span>
																			</td>
																			<td>
																				<button onclick="window.location='trueId-response/<%= application._id %>'" data-toggle="tooltip" title="TrueId"  class="btn btn-success btn-sm"><i class="far fa-eye"></i></button>  
																			</td>
																			<td>
																				<button onclick="window.location='bridger-response/<%= application._id %>'" data-toggle="tooltip" title="BridgerId"  class="btn btn-success btn-sm"><i class="far fa-eye"></i></button>  
																			</td>
																			<td class="custom-icons">
																				<a href='user-pdf/<%= application._id %>' target="_blank" data-toggle="tooltip" title="Download Application"  class="btn btn-success btn-sm">
																					<i class="fa fa-print"></i>
																				</a>
																				<button
																					onclick="window.location='application-details/dashboard/<%= application._id %>'"
																					data-toggle="tooltip"
																					title="View Application"
																					class="btn btn-success btn-sm"><i
																						class="far fa-eye"></i></button>
																				<% if(admin.role == 'Admin') { %>
																				
																				<button id="<%= application._id %>"
																					data-toggle="tooltip"
																					title="Status Change"
																					class="btn btn-warning btn-sm status_change">
																					<i class="fas fa-exchange-alt">
																					</i></button>
																				<button id="<%= application._id %>"
																					data-toggle="tooltip"
																					title="Reject Application"
																					class="btn btn-danger btn-sm rejected">
																					<i class="far fa-window-close">
																					</i></button>
																				<button id="<%= application._id %>"
																					data-toggle="tooltip"
																					title="Approve Application"
																					class="btn btn-info btn-sm accepted"> <i
																						class="far fa-check-square"></i>
																				</button>
																				<% } %>
																			</td>
																			<% } %>
																		</tr>
																	<% }) %>


																</tbody>
															</table>
														</div>
														<!-- /.card-body -->
													</div>
													<!-- /.card -->
												</div>
											</div>
											<!-- /.row -->
										</div>
										<div class="tab-pane fade active show" id="custom-tabs-four-profile" role="tabpanel"
											aria-labelledby="custom-tabs-four-profile-tab">
											<div class="row">
												<div class="col-12">
													<div class="card">

														<!-- /.card-header -->
														<div class="card-body table-responsive p-0">
															<table id="pendingApplicationTable" class="table table-head-fixed text-nowrap">
																<thead>
																	<tr>
																		<th>User Name</th>
																		<th>User Email</th>
																		<th>Entity</th>
																		<th>Date</th>
																		<th>Status</th>
																		<th>TrueId</th>
																		<th>Bridger</th>
																		<th class="text-center">Action</th>
																	</tr>
																</thead>
																<tbody>
																	<% applicationPendings.forEach(function(applicationPending) { %>
																	<tr>
																		<td><%= (applicationPending.firstName || '-') +' '+ (applicationPending.lastName ||'-')%>
																		</td>
																		<td><%= applicationPending.email %></td>
																		<td> <%= applicationPending.entity %> </td>
																		<td><%= moment(applicationPending.createdAt).format('MM/DD/YYYY') %>
																		</td>
																		<td>
																			<span
																				class="badge badge-success">Pending</span>
																		</td>
																		<td>
																			<button onclick="window.location='trueId-response/<%= applicationPending._id %>'" data-toggle="tooltip" title="TrueId"  class="btn btn-success btn-sm"><i class="far fa-eye"></i></button>  
																		</td>
																		<td>
																			<button onclick="window.location='bridger-response/<%= applicationPending._id %>'" data-toggle="tooltip" title="BridgerId"  class="btn btn-success btn-sm"><i class="far fa-eye"></i></button>  
																		</td>
																		<td class="custom-icons">
																			<button
																				onclick="window.location='application-details/dashboard/<%= applicationPending._id %>'"
																				data-toggle="tooltip"
																				title="View Application"
																				class="btn btn-success btn-sm"><i
																					class="far fa-eye"></i></button>
																			<% if(admin.role == 'Admin') { %>
																				
																			<a href='user-pdf/<%= applicationPending._id %>' target="_blank" data-toggle="tooltip" title="Download Application"  class="btn btn-success btn-sm">
																				<i class="fa fa-print"></i>
																			</a>
																			<button id="<%= applicationPending._id %>"
																				data-toggle="tooltip"
																				title="Status Change"
																				class="btn btn-warning btn-sm status_change">
																				<i class="fas fa-exchange-alt">
																				</i></button>
																			<button id="<%= applicationPending._id %>"
																				data-toggle="tooltip"
																				title="Reject Application"
																				class="btn btn-danger btn-sm rejected">
																				<i class="far fa-window-close">
																				</i></button>
																			<button id="<%= applicationPending._id %>"
																				data-toggle="tooltip"
																				title="Approve Application"
																				class="btn btn-info btn-sm accepted"> <i class="far fa-check-square"></i>
																			</button>
																		</td>
																		<% } %>
																	</tr>

																	<% }) %>


																</tbody>
															</table>
														</div>
														<!-- /.card-body -->
													</div>
													<!-- /.card -->
												</div>
											</div>
											<!-- /.row -->
										</div>
										<div class="tab-pane fade" id="custom-tabs-four-messages" role="tabpanel"
											aria-labelledby="custom-tabs-four-messages-tab">
											<div class="row">
												<div class="col-12">
													<div class="card">

														<!-- /.card-header -->
														<div class="card-body table-responsive p-0"
															>
															<table id="draftApplicationTable" class="table table-head-fixed text-nowrap">
																<thead>
																	<tr>
																		<th>User Name</th>
																		<th>User Email</th>
																		<th>Entity</th>
																		<th>Date</th>
																		<th>Status</th>
																		<th class="text-center">Action</th>
																	</tr>
																</thead>
																<tbody>
																	<% applicationDrafts.forEach(function(applicationDraft) { %>
																	<tr>
																		<td><%= (applicationDraft.firstName || '-') +' '+ (applicationDraft.lastName ||'-')%>
																		</td>
																		<td><%= applicationDraft.email %></td>
																		<td> <%= applicationDraft.entity %> </td>
																		<td><%= moment(applicationDraft.createdAt).format('MM/DD/YYYY') %>
																		</td>
																		<td>
																			<span
																				class="badge badge-warning">Draft</span>
																		</td>
																		<td class="custom-icons">
																			<button id="<%= applicationDraft._id %>"
																				data-toggle="tooltip"
																				title="Draft Application Mail"
																				class="btn btn-warning btn-sm draft"> <i
																					class="far fa-envelope draft"></i>
																			</button>
																			<button
																				onclick="window.location='application-details/dashboard/<%= applicationDraft._id %>'"
																				data-toggle="tooltip"
																				title="View Application"
																				class="btn btn-success btn-sm"><i
																					class="far fa-eye"></i></button>
																		</td>
																	</tr>

																	<% }) %>


																</tbody>
															</table>
														</div>
														<!-- /.card-body -->
													</div>
													<!-- /.card -->
												</div>
											</div>
											<!-- /.row -->
										</div>

									</div>
								</div>
								<!-- /.card -->
							</div>
						</div>
					</div>
					<!-- // row // -->
				</div>
				<!--/. container-fluid -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Control sidebar content goes here -->
		</aside>
		<!-- /.control-sidebar -->

		<!-- Main Footer -->
		<%- include('admin_include/_footer'); -%>
	</div>
	<!-- ./wrapper -->

	<div class="modal fade" id="reject-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Are You Sure?</h4>

					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<!-- left column -->
						<div class="col-md-12">
							<!-- general form elements -->
							<div class="card card-primary">
								<!-- /.card-header -->
								<!-- form start -->
								<form action="" method="post" id="reject-form" style=" overflow-y: auto;overflow-x: hidden;">
									<div class="card-body">
										<p>Please confirm to <strong>reject</strong> this request?</p>
										<input type="hidden" class="form-control" name="applicationSubject"
											value="<%= configuration.rejectedtemp.subject %>" />

										<div class="form-group" style="display: none;">
											<label>Message to user<span style="color:red;">*</span></label>
											<textarea id="compose-textarea-2" class="form-control" rows="400" name="applicationEmail" cols="1050" style="height: 250px;display: none;">
												<%= configuration.rejectedtemp.email %>
											</textarea>
										</div>

										<div class="form-group">
											<label>Reason (Internal)<span style="color:red;">*</span></label>
											<textarea class="form-control validate" name="applicationReason"
												required="required" rows="3" placeholder="Write Reason"></textarea>
										</div>
									</div>
									<!-- /.card-body -->

									<div class="card-footer">
										<button type="submit" class="btn btn-primary">
											Yes! Reject
										</button>
										<button type="button" class="btn btn-default" data-dismiss="modal">
											Cancel
										</button>
									</div>
								</form>
							</div>
							<!-- /.card -->
						</div>
						<!--/.col (left) -->
						<!-- right column -->
					</div>
					<!-- /.row -->
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->

	<!-- /.modal -->

	<div class="modal fade" id="draft-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Email to user (Status : Draft)</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<!-- left column -->
						<div class="col-md-12">
							<!-- general form elements -->
							<div class="card card-primary">
								<!-- /.card-header -->
								<!-- form start -->
								<form action="" method="post" id="draft-form">
									<div class="card-body">
										<div class="form-group">
											<label>Subject</label>
											<input type="text" class="form-control" name="applicationSubject"
												placeholder="Enter Title" required="required" />
										</div>

										<div class="form-group">
											<label>Body</label>
											<textarea class="form-control" rows="3" name="applicationEmail"
												placeholder="Enter ..." required="required"></textarea>
										</div>
									</div>
									<!-- /.card-body -->

									<div class="card-footer">
										<button type="submit" class="btn btn-primary">Submit</button>
										<button type="button" class="btn btn-default" data-dismiss="modal">
											Close
										</button>
									</div>
								</form>
							</div>
							<!-- /.card -->
						</div>
						<!--/.col (left) -->
						<!-- right column -->
					</div>
					<!-- /.row -->
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->

	<div class="modal fade" id="status-change-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Update Application Status</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<!-- left column -->
						<div class="col-md-12">
							<!-- general form elements -->
							<div class="card card-primary">
								<!-- /.card-header -->
								<!-- form start -->
								<form action="" method="post" id="status-change-form">
									<div class="card-body">
										<div class="form-group">
											<label>Subject</label>
											<input type="text" class="form-control" name="applicationSubject"
												placeholder="Enter Title" required="required" />
										</div>

										<div class="form-group">
											<label>Reason</label>
											<textarea class="form-control" rows="3" name="applicationEmail"
												placeholder="Enter ..." required="required"></textarea>
										</div>
									</div>
									<!-- /.card-body -->

									<div class="card-footer">
										<button type="submit" class="btn btn-primary">Submit</button>
										<button type="button" class="btn btn-default" data-dismiss="modal">
											Close
										</button>
									</div>
								</form>
							</div>
							<!-- /.card -->
						</div>
						<!--/.col (left) -->
						<!-- right column -->
					</div>
					<!-- /.row -->
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->

	<%- include('admin_include/_script'); -%>
	<script>
		$(document).ready(function () {
			$("#allApplicationTable")		.DataTable();
			$("#pendingApplicationTable")	.DataTable();
			$("#draftApplicationTable")		.DataTable();

		});
	</script>
</body>

</html>