<%- include('admin_include/_head'); -%>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
	<div class="wrapper">
		<!-- Navbar -->
		<%- include('admin_include/_navbar'); -%>
		<!-- /.navbar -->

		<!-- Main Sidebar Container -->
		<!-- Sidebar -->
		<%- include('admin_include/_sidebar'); -%>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0 text-dark">Draft Application</h1>
						</div><!-- /.col -->
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="">Application</a></li>
								<li class="breadcrumb-item active">Draft</li>
							</ol>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->

			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="card">

								<!-- /.card-header -->
								<div class="card-body">
									<table id="draftTable" class="table table-bordered table-striped">
										<thead>
											<tr>
												<th>User Name</th>
												<th>User Email</th>
												<th>Entity</th>
												<th>Date</th>
												<th>Status</th>
												<th class="text-center">Action</th>

											</tr>
										</thead>
										<tbody>
											
											<% 	JSON.parse(draftUsers).forEach(function(draftUser) {  %>
													<tr>
														<td><%= draftUser.firstName+" "+draftUser.lastName %></td>
														<td><%= draftUser.email %></td>
														<td><%= draftUser.entity %></td>
														<td><%= moment(draftUser.createdAt).format( 'MMM-DD-YYYY') %></td>
														<td><span class="badge badge-warning">Draft</span></td>
														<td>
															<button id="<%= draftUser._id %>" data-toggle="tooltip" title="Draft Application Mail" class="btn btn-warning btn-sm draft"> 
																<i class="far fa-envelope draft"></i> 
															</button>
															<button onclick='window.location="application-details/dashboard/<%= draftUser._id %>"' data-toggle="tooltip" title="View Application" class="btn btn-success btn-sm">
																<i class="far fa-eye"></i>
															</button>
														</td>
													</tr>
											<%	}) %>
										</tbody>

									</table>
								</div>
								<!-- /.card-body -->
							</div>
							<!-- /.card -->
						</div>
					</div><!-- // Row // -->
				</div><!-- // Container-fluid // -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Control sidebar content goes here -->
		</aside>
		<!-- /.control-sidebar -->

		<!-- Main Footer -->
		<%- include('admin_include/_footer'); -%>
	</div>
	<!-- ./wrapper -->
	<div class="modal fade" id="draft-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Email to user [Status : Draft]</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<!-- left column -->
						<div class="col-md-12">
							<!-- general form elements -->
							<div class="card card-primary">
								<!-- /.card-header -->
								<!-- form start -->
								<form action="" method="post" id="draft-form">
									<div class="card-body">
										<div class="form-group">
											<label>Subject</label>
											<input type="text" class="form-control" name="applicationSubject"
												placeholder="Enter Title" required="required" />
										</div>

										<div class="form-group">
											<label>Body</label>
											<textarea class="form-control" rows="3" name="applicationEmail"
												placeholder="Enter ..." required="required"></textarea>
										</div>
									</div>
									<!-- /.card-body -->

									<div class="card-footer">
										<button type="submit" class="btn btn-primary">Submit</button>
										<button type="button" class="btn btn-default" data-dismiss="modal">
											Close
										</button>
									</div>
								</form>
							</div>
							<!-- /.card -->
						</div>
						<!--/.col (left) -->
						<!-- right column -->
					</div>
					<!-- /.row -->
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
	<%- include('admin_include/_script'); -%>

	<script>
		$(document).ready(function () {
			$('#draftTable').DataTable({
				//   "fnDrawCallback": function() {
				//     $('[data-toggle="tooltip"]').tooltip();
				//     },
				//     "paging": true,
				//     "pageLength": 10,
				//     "processing": true,
				//     "serverSide": true,
				//     'ajax': {
				//         'type': 'POST',
				//         'url': '/admin/draft-application'
				//     },
				//     'columns':
				//         [
				//         { 'data': 'firstName', "defaultContent": "", 'name': 'firstName', render: function(data, type, full, meta) {
				//             return (full.firstName || '-')+' '+(full.lastName || '-');
				//         }, },
				//         { 'data': 'email', "defaultContent": "", 'name': 'email' },
				//         { 'data': 'createdAt', "defaultContent": "", 'name': 'createdAt', render: function(data, type, full, meta) {
				//             var date = new Date(data);
				//             var newDate = date.toString('MM/DD/YYYY');    
				//             return date.getMonth()+1+'/'+date.getDate()+'/'+date.getFullYear();
				//         },
				//         },
				//         { 'data': '', "defaultContent": "", 'name': '', 'orderable': false, render: function(data, type, full, meta) {
				//             return '<span class="badge badge-warning">Draft</span>';
				//         },
				//         },
				//         { 'data': '_id', "defaultContent": "", 'name': 'action', 'orderable': false, 
				//         render: function(data, type, full, meta) {
				//           const url = `window.location="application-details/dashboard/${data}"`;
				//             return '<button id="'+data+'" data-toggle="tooltip" title="Draft Application Mail" class="btn btn-warning btn-sm draft"> <i class="far fa-envelope draft"></i> </button><button onclick='+url+' data-toggle="tooltip" title="View Application" class="btn btn-success btn-sm"><i class="far fa-eye"></i></button>';
				//         },
				//         },
				//         ],
				//     "columnDefs": [
				//         {
				//             "searchable": true,
				//             "orderable": true,
				//             "targets": 0
				//         }
				//     ],
				//     createdRow: function (row, data, index) {
				//         $(row).find('td:eq(4)').addClass('custom-icons');
				//     }
			});

		});
	</script>
</body>

</html>