<%- include('admin_include/_head'); -%>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">
  <!-- Navbar -->
  <%- include('admin_include/_navbar'); -%>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
   <!-- Sidebar -->
  <%- include('admin_include/_sidebar'); -%>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Email Credentials</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
              <li class="breadcrumb-item active">Email Credentials</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <%- include('messages'); -%>
              <!-- /.card-header -->
             <div class="col-md-6">
               <div class="card card-primary mt-4 mb-4">
              
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" class="form-horizontal" action="/admin/email-credentials" method="post">
                <div class="card-body">
                  <input
                  type="hidden"
                        name="id"
                        value= '<%= configuration._id %>'
                      />
                  <div class="form-group row">
                    <label for="smtp_host" class="col-sm-3 col-form-label">SMTP Host</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control validate" id="smtp_host" name="smtp_host" placeholder="Please Enter SMTP Host" value="<%= configuration.host %>" required>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="smtp_host" class="col-sm-3 col-form-label">SMTP Port</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control validate" id="smtp_port" name="smtp_port" placeholder="Please Enter SMTP Port" value="<%= configuration.port %>" required>
                    </div>
                  </div>

                   <div class="form-group row">
                    <label for="email" class="col-sm-3 col-form-label">Enter Email</label>
                    <div class="col-sm-9">
                      <input type="email" class="form-control validate" id="email" name="email" placeholder="Email" value="<%= configuration.hostemail %>" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,}" required>
                    </div>
                  </div>

                      <div class="form-group row">
                    <label for="password" class="col-sm-3 col-form-label">Enter Password</label>
                    <div class="col-sm-9">
                     <input type="password" class="form-control validate" id="password" name="password" placeholder="password" value="<%= configuration.hostpassword %>" required>
                    </div>
                  </div>
                   <!-- <div class="form-group row">
                    <label for="host_service" class="col-sm-3 col-form-label">Select Host Service</label>
                    <div class="col-sm-9">
                    <select class="form-control validate" name="host_service" id="host_service" required>
                          <option value="gmail" <%= configuration.host == 'gmail' ? 'selected' : ''%>>Gmail</option>
                          <option value="outlook" <%= configuration.host == 'outlook' ? 'selected' : ''%>>Outlook</option>
                          <option value="yahoo"<%= configuration.host == 'yahoo' ? 'selected' : ''%>>Yahoo</option>
                          <option value="hotmail" <%= configuration.host == 'hotmail' ? 'selected' : ''%> >Hotmail</option>
                        </select>
                    </div>
                  </div> -->



             
                  <div class="form-group">
                        <label></label>
                        
                      </div>
                  
                  
                </div>
                <!-- /.card-body -->

                <div class="card-footer text-center">
                  <button type="submit" class="btn btn-block btn-primary btn-sm">Submit</button>
                </div>
              </form>
            </div>
             </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div><!-- // Row // -->
      </div><!-- // Container-fluid // -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <%- include('admin_include/_footer'); -%>
</div>
<!-- ./wrapper -->
  <%- include('admin_include/_script'); -%>

</body>
</html>
