<%- include('admin_include/_head'); -%>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">
 <!-- Navbar -->
 <%- include('admin_include/_navbar'); -%>
 <!-- /.navbar -->

   <!-- Sidebar -->
 <%- include('admin_include/_sidebar'); -%>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Accepted E-mail Template</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Email Credentials</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <%- include('messages'); -%>
              <div class="card-header">
               <!--  <h3 class="card-title">Simple Full Width Table</h3> -->

              </div>
              <!-- /.card-header -->
              <form role="form" class="form-horizontal" action="/admin/email-template-accepted" method="post">
              <div class="col-md-10 m-auto">
               <div class="mt-4 mb-4">
                <input
                type="hidden"
                      name="id"
                      value= '<%= configuration._id %>'
                    />
                  <h3 class="mt-4 mb-4">Subject</h3>
                <div class="form-group">
                    <input id="subject" name="subject" class="form-control" value="<%= configuration.acceptedtemp.subject %>">
                  </div> 
               <div class="mt-4 mb-4">
                  <h3 class="mt-4 mb-4">Message sent to user (Template)</h3>
                <div class="form-group">
                    <textarea id="compose-textarea" class="form-control" rows="400" name="compose_email" cols="1050" style="height: 500px">
                    <%= configuration.acceptedtemp.email %>
                    </textarea>
                    <p>Note: <strong>@name</strong> denotes username</p>
                </div>
               
                
                

               </div>
              </div>
              <!-- /.card-body -->
              <div class="card-footer text-center">
                <button type="submit" class="btn btn-block btn-primary btn-sm">Submit</button>
              </div>
            </div>
          </form>
            <!-- /.card -->
          </div>
        </div><!-- // Row // -->
      </div><!-- // Container-fluid // -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <%- include('admin_include/_footer'); -%>
</div>
<!-- ./wrapper -->


 <%- include('admin_include/_script'); -%>

</body>
</html>
