<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Guardian</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js"
    ></script>
    <link rel="stylesheet" type="text/css" href="assets/css/main.css" />
    <link
      rel="shortcut icon"
      href="assets/img/newfavicon.png"
      type="image/x-icon"
    />

    <style type="text/css">
      body {
        background: #000;
      }
      .forgot-pwd {
        background: #fff;
        margin-top: 10%;
        border-radius: 5px;
      }
      .forgot-pwd form {
        padding: 40px;
      }
      .forgot-pwd form h5 {
        text-align: center;
        margin-bottom: 20px;
        font-weight: 700;
      }
      .forgot-pwd form input[type='email'] {
        width: 100%;
        padding: 0 10px;
        height: 50px;
        box-shadow: 0 0 7px #0000002e;
        border: none;
        border-bottom: 2px solid #fff;
      }
      .forgot-pwd form input[type='email']:focus {
        border-bottom: 2px solid rgba(66, 144, 202, 1);
        outline: none;
      }
      .forgot-pwd form input[type='submit'] {
        background: rgba(66, 144, 202, 1);
        border: none;
        margin-top: 15px;
        width: 100%;
        color: #fff;
        text-transform: uppercase;
        font-size: 18px;
        display: inline-block;
        padding: 10px 30px;
        font-weight: 700;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-md-3"></div>
            <!-- // Col // -->
            <div class="col-md-6">
              <div class="forgot-pwd">
                <form action="/admin/forgot-password" method="post">
                  <h5>Forgot Password</h5>
                  <hr />
                  <%- include('messages'); -%>
                  <input
                    type="email"
                    name="email"
                    placeholder="Email"
                    class="form-control validate"
                    pattern="[^@]+@[^@]+\.[a-zA-Z]{2,}"
                    value="<%= typeof email != 'undefined' ?    email : '' %>"
                    required
                  />
                  <input type="submit" name="submit" />
                </form>
                
              </div>
            </div>
            <!-- // Col // -->
            <div class="col-md-3"></div>
            <!-- // Col // -->
          </div>
          <!-- // Row // -->
        </div>
        <!-- // Container // -->
      </div>
      <!-- // Row // -->
    </div>
    <!-- // Container-fluid // -->

    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/eonasdan-bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"
    ></script>
    <script type="text/javascript" src="../../../assets/js/script.js"></script>
  </body>
</html>

<!-- CUSTOM_CODE_START -->
<script type="text/javascript">
  window.__lc = window.__lc || {};
  window.__lc.license = 11913591;
  (function () {
    var lc = document.createElement('script');
    lc.type = 'text/javascript';
    lc.async = true;
    lc.src =
      ('https:' == document.location.protocol ? 'https://' : 'http://') +
      'cdn.livechatinc.com/tracking.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(lc, s);
  })();
</script>
<noscript>
  <a href="https://www.livechatinc.com/chat-with/11913591/" rel="nofollow"
    >Chat with us</a
  >, powered by
  <a
    href="https://www.livechatinc.com/?welcome"
    rel="noopener nofollow"
    target="_blank"
    >LiveChat</a
  >
</noscript>
