<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Guardian</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js"
    ></script>
    <link rel="stylesheet" type="text/css" href="assets/css/main.css" />
    <link
      rel="shortcut icon"
      href="assets/img/newfavicon.png"
      type="image/x-icon"
    />

    <style type="text/css">
      body {
        background: #000;
      }
      .pwdbox-holder {
        position: relative;
      }
      .pwdbox-holder span {
        position: absolute;
        right: 3%;
        top: 35%;
      }
      .forgot-pwd {
        background: #fff;
        margin-top: 10%;
        border-radius: 5px;
      }
      .forgot-pwd form {
        padding: 40px;
      }
      .forgot-pwd form h5 {
        text-align: center;
        margin-bottom: 20px;
        font-weight: 700;
      }
      .forgot-pwd form input[type='password'] {
        width: 100%;
        padding: 0 10px;
        height: 50px;
        box-shadow: 0 0 7px #0000002e;
        border: none;
        border-bottom: 2px solid #fff;
        margin-bottom: 15px;
      }
      .forgot-pwd form input[type='password']:focus {
        border-bottom: 2px solid rgba(66, 144, 202, 1);
        outline: none;
      }
      .forgot-pwd form input[type='text'] {
        width: 100%;
        padding: 0 10px;
        height: 50px;
        box-shadow: 0 0 7px #0000002e;
        border: none;
        border-bottom: 2px solid #fff;
        margin-bottom: 15px;
      }
      .forgot-pwd form input[type='text']:focus {
        border-bottom: 2px solid rgba(66, 144, 202, 1);
        outline: none;
      }
      .forgot-pwd form input[type='submit'] {
        background: rgba(66, 144, 202, 1);
        border: none;
        margin-top: 15px;
        width: 100%;
        color: #fff;
        text-transform: uppercase;
        font-size: 18px;
        display: inline-block;
        padding: 10px 30px;
        font-weight: 700;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-md-3"></div>
            <!-- // Col // -->
            <div class="col-md-6">
              <div class="forgot-pwd">
                <form action="/admin/new-password/<%= id %>" method="post">
                  <h5>Enter New Password</h5>
                  <hr />
                  <%- include('messages'); -%>
                  <div class="pwdbox-holder">
                    <span
                      toggle="#password-field"
                      class="fa fa-fw fa-eye field-icon toggle-password"
                    ></span>
                    <input
                      id="password-field"
                      type="password"
                      class="form-control validate"
                      placeholder="New Password"
                      name="password"
                      title="Must contain at least one  number , one uppercase , lowercase letter, at least 8 characters, maximum 25 characters and one special characters"
                      pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,25}$"
                      required=""
                    />
                  </div>

                  <div class="pwdbox-holder">
                    <span
                      toggle="#password-field-2"
                      class="fa fa-fw fa-eye field-icon toggle-password"
                    ></span>
                    <input
                      id="password-field-2"
                      type="password"
                      class="form-control validate"
                      name="passwordConfirmation"
                      placeholder="Confirm Password"
                      title="Must contain at least one  number , one uppercase , lowercase letter, at least 8 characters, maximum 25 characters and one special characters"
                      pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,25}$"
                      required=""
                    />
                  </div>

                  <input type="submit" name="submit" />
                </form>
              </div>
            </div>
            <!-- // Col // -->
            <div class="col-md-3"></div>
            <!-- // Col // -->
          </div>
          <!-- // Row // -->
        </div>
        <!-- // Container // -->
      </div>
      <!-- // Row // -->
    </div>
    <!-- // Container-fluid // -->

    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/eonasdan-bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"
    ></script>
    <script type="text/javascript" src="assets/js/script.js"></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js"
    ></script>

    <script type="text/javascript">
      $(document).ready(function () {
        $('.toggle-password').click(function () {
          $(this).toggleClass('fa-eye fa-eye-slash');
          var input = $($(this).attr('toggle'));
          if (input.attr('type') == 'password') {
            input.attr('type', 'text');
          } else {
            input.attr('type', 'password');
          }
        });
      });

      var password = document.getElementById('password-field'),
        confirm_password = document.getElementById('password-field-2');

      function validatePassword() {
        if (password.value != confirm_password.value) {
          confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
          confirm_password.setCustomValidity('');
        }
      }

      password.onchange = validatePassword;
      confirm_password.onkeyup = validatePassword;
    </script>
  </body>
</html>
<!-- CUSTOM_CODE_START -->
<script type="text/javascript">
  window.__lc = window.__lc || {};
  window.__lc.license = 11913591;
  (function () {
    var lc = document.createElement('script');
    lc.type = 'text/javascript';
    lc.async = true;
    lc.src =
      ('https:' == document.location.protocol ? 'https://' : 'http://') +
      'cdn.livechatinc.com/tracking.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(lc, s);
  })();
</script>
<noscript>
  <a href="https://www.livechatinc.com/chat-with/11913591/" rel="nofollow"
    >Chat with us</a
  >, powered by
  <a
    href="https://www.livechatinc.com/?welcome"
    rel="noopener nofollow"
    target="_blank"
    >LiveChat</a
  >
</noscript>
