<%- include('admin_include/_head'); -%>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
	<div class="wrapper">
		<!-- Navbar -->
		<%- include('admin_include/_navbar'); -%>
		<!-- /.navbar -->

		<!-- Main Sidebar Container -->
		<!-- Sidebar -->
		<%- include('admin_include/_sidebar'); -%>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0 text-dark">Rejected Application</h1>
						</div><!-- /.col -->
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="">Application</a></li>
								<li class="breadcrumb-item active">Rejected</li>
							</ol>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->

			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="card">

								<!-- /.card-header -->
								<div class="card-body">
									<table id="rejectedTable" class="table table-bordered table-striped">
										<thead>
											<tr>
												<th>User Name</th>
												<th>User Email</th>
												<th>Entity</th>
												<th>Reason</th>
												<th>Date</th>
												<!-- <th>Status</th> -->
												<th class="text-center">Action</th>

											</tr>
										</thead>
										<tbody>
										<% 	JSON.parse(users).forEach(function(user) { %>
												<tr>
													<td><%= user.firstName+" "+user.lastName %></td>
													<td><%= user.email %></td>
													<td><%= user.entity %></td>
													<td><%= user.reason %></td>
													<td><%= moment(user.createdAt).format( 'MMM-DD-YYYY') %></td>
													<td>
														<button class="btn btn-success btn-sm" 
															onclick="window.location='application-details/rejected/<%= user._id %>'" data-original-title="View Application">
															<i class="far fa-eye"></i>
														</button>
													</td>
												</tr>
										<%  }) %>	
										</tbody>
									</table>
								</div>
								<!-- /.card-body -->
							</div>
							<!-- /.card -->
						</div>
					</div><!-- // Row // -->
				</div><!-- // Container-fluid // -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Control sidebar content goes here -->
		</aside>
		<!-- /.control-sidebar -->

		<!-- Main Footer -->
		<%- include('admin_include/_footer'); -%>
	</div>
	<!-- ./wrapper -->

	<%- include('admin_include/_script'); -%>

	<script>
		$(document).ready(function () {
			$('#rejectedTable').DataTable()
			// $('#rejectedTable').DataTable({
			// 	"fnDrawCallback": function () {
			// 		$('[data-toggle="tooltip"]').tooltip();
			// 	},
			// 	"paging": true,
			// 	"pageLength": 10,
			// 	"processing": true,
			// 	"serverSide": true,
			// 	'ajax': {
			// 		'type': 'POST',
			// 		'url': '/admin/rejected-application'
			// 	},
			// 	'columns': [{
			// 			'data': 'firstName',
			// 			"defaultContent": "",
			// 			'name': 'firstName',
			// 			render: function (data, type, full, meta) {
			// 				return (full.firstName || '-') + ' ' + (full.lastName || '-');
			// 			},
			// 		},
			// 		{
			// 			'data': 'email',
			// 			"defaultContent": "",
			// 			'name': 'email'
			// 		},
			// 		{
			// 			'data': 'createdAt',
			// 			"defaultContent": "",
			// 			'name': 'createdAt',
			// 			render: function (data, type, full, meta) {
			// 				var date = new Date(data);
			// 				var newDate = date.toString('MM/DD/YYYY');
			// 				return date.getMonth() + 1 + '/' + date.getDate() + '/' + date
			// 					.getFullYear();
			// 			},
			// 		},
			// 		{
			// 			'data': '',
			// 			"defaultContent": "",
			// 			'name': '',
			// 			'orderable': false,
			// 			render: function (data, type, full, meta) {
			// 				return '<span class="badge badge-danger">Rejected</span>';
			// 			},
			// 		},
			// 		{
			// 			'data': '_id',
			// 			"defaultContent": "",
			// 			'name': 'action',
			// 			'orderable': false,
			// 			render: function (data, type, full, meta) {
			// 				const url = `window.location="application-details/dashboard/${data}"`;
			// 				return '<button onclick=' + url +
			// 					' data-toggle="tooltip" title="View Application"  class="btn btn-success btn-sm"><i class="far fa-eye"></i></button>';
			// 			},
			// 		},
			// 	],
			// 	"columnDefs": [{
			// 		"searchable": true,
			// 		"orderable": true,
			// 		"targets": 0
			// 	}],
			// 	createdRow: function (row, data, index) {
			// 		$(row).find('td:eq(4)').addClass('custom-icons');
			// 	}
			// });

		});
	</script>
</body>

</html>