<%- include('admin_include/_head'); -%>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div id="loaderModal" style="display: none;">
        <div class="loader"></div>
        <span id="percentageSpan" style="position: absolute;
        padding-top: 20px;
        font-size: 20px;"></span>
    </div>
    <style>
        .loader {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite;
            /* Safari */
            animation: spin 2s linear infinite;
        }

        #loaderModal {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            color: white;
            text-align: center;
            background: rgba(0, 0, 0, 0.5);
            position: fixed;
            width: 100%;
            z-index: 1;
        }

        /* Safari */
        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>
    <div class="wrapper">
       
        <%- include('admin_include/_navbar'); -%>
        <%- include('admin_include/_sidebar'); -%>
        <div class="content-wrapper">
            <section class="content mt-5">
                <div class="container-fluid">
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <div class="card mt-3">
                                <div class="card-header">
                                    <div class="card-title">User Details</div>
                                </div>
                                <div class="card-body table-responsive">
                                    <input id="userId" type="hidden" value="<%= user._id %>">
                                    <table class="table table-bordered">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>User Name</th>
                                                <th>User Email</th>
                                                <th>Date</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><%= user.firstName%> <%= user.lastName%></td>
                                                <td><%= user.email%></td>
                                                <td><%= moment(user.createdAt).format('MM/DD/YYYY')%></td>
                                                <% if(user.isDraft && user.isApprove==null) { %>
                                                    <td><span class="badge badge-warning">Draft</span></td>
                                                <% }else if(user.isApprove  && !user.isDraft){ %>
                                                    <td><span class="badge badge-info">Accepted</span></td>
                                                <% }else if(user.isApprove==null  && !user.isDraft){ %>
                                                    <td><span class="badge badge-success">Pending</span></td>
                                                <% } %>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="card-title" style="float: left">TrueID Check run at: <%= (data.length > 0 && data[0].apiCallDateTime != undefined ? moment(moment.utc(data[0].apiCallDateTime, 'MM/DD/yyyy HH:mm:ss').toDate()).local().format('YYYY-MM-DD HH:mm:ss') : '') %></span>
                                            <button  id="btnRerunTrueID" class="btn btn-default" style="float: right !important">Re-run TrueID Check</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body table-responsive" style="overflow-x: auto;">
                                    <table id="tblTrueIdResponse" class="table table-bordered">
                                        <thead class="thead-light">
                                            <tr>
                                                <!-- <th>Decision</th> -->
                                                <th>Date</th>
                                                <th>Request Id</th>
                                                <th>Conversion Id</th>
                                                <th>Transaction Status</th>
                                                <th>Transaction Reason Code</th>
                                                <th>Transaction Reason Description</th>
                                                <th>Product Type</th>
                                                <th>Executed Step Name</th>
                                                <th>Product Configuration Name</th>
                                                <th>Product Status</th>
                                                <!-- <th>Entity type</th>
                                                <th>Citizenship</th> -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if(data && data.decryptedResponse) { %>
                                                <tr id="<%= 'accordion' %>" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="<%= '#accordion' %>" href="<%= '#collapse' %>"  data-index="<%= 1%>">
                                                    <td><%= data.date %></td>
                                                    <td><%= data.requestId %></td>
                                                    <td><%= data.conversationId %></td>
                                                    <td><%= data.transactionStatus %></td>
                                                    <td>
                                                        <% if(data.decryptedResponse && data.decryptedResponse.status.transactionReasonCode){ %> 
                                                            <%= data.decryptedResponse.status.transactionReasonCode.code %>
                                                        <% } %>
                                                    </td>
                                                    <td>
                                                    <% if(data.decryptedResponse && data.decryptedResponse.status.transactionReasonCode){ %> 
                                                        <%= data.decryptedResponse.status.transactionReasonCode.description %>
                                                    <% } %>
                                                    </td>
                                                    <td><div class="d-flex flex-column"><% if(data.decryptedResponse && data.decryptedResponse.products) { data.decryptedResponse.products.forEach(function(product, index) { %>
                                                        <div class="p-1"><%= product.productStatus %></div>
                                                    <% }) }%></div></td>
                                                    <td><div class="d-flex flex-column"><% if(data.decryptedResponse && data.decryptedResponse.products) { data.decryptedResponse.products.forEach(function(product, index) { %>
                                                        <div class="p-1"><%= product.productType %></div>
                                                    <% }) } %></div></td>
                                                    <td><div class="d-flex flex-column"><% if(data.decryptedResponse && data.decryptedResponse.products) { data.decryptedResponse.products.forEach(function(product, index) { %>
                                                        <div class="p-1"><%= product.executedStepName %></div>
                                                    <% }) } %></div></td>
                                                    <td><div class="d-flex flex-column"><% if(data.decryptedResponse && data.decryptedResponse.products) { data.decryptedResponse.products.forEach(function(product, index) { %>
                                                        <div class="p-1"><%= product.productConfigurationName %></div>
                                                    <% }) } %></div></td>
                                                </tr>
                                                <tr class="hide-table-padding">
                                                    <td colspan="10">
                                                        <div id="<%= 'collapse' %>" class="collapse in p-3">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <% if(data.decryptedRequest) { delete data.decryptedRequest.document  %>
                                                                        <% const {html} = new Jsontableify().toHtml(data) %>
                                                                        <%- html %>
                                                                    <% } %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            <% } else { %>
                                                <tr><td colspan="9" class="text-center"><div>No Data Found</div></td></tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        

    </div>
    <%- include('admin_include/_script'); -%>

    <script>
        $(document).ready(function(){
            $('#btnRerunTrueID').on('click', function(){
                console.log("TrueID Rerun");
                var id = $('#userId').val();
                console.log("rerunTrueID();", id);
                if(id){
                    rerunTrueID(id);
                }
            });
        });

    function rerunTrueID(id){
	    try{
		$.ajax({
			url: '/admin/rerun-trueID/' + id,
			method: 'get',
			dataType: 'json',
			beforeSend: function () {
				$('#btnRerunTrueID').prop('disabled', true);
				$("#loaderModal").show();
			},
			success: function (response) {
				//$("#loaderModal").hide();
				$('#btnRerunTrueID').prop('disabled', false);
				location.reload();
			},
			error: function (response, xhr, error) {
				//$("#loaderModal").hide();
				$('#btnRerunTrueID').prop('disabled', false);
				location.reload();
			},
		});
	}
	catch(err){
		$("#loaderModal").hide();
		console.log(err);
	}
}
    </script>
</body>