<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Admin Panel</title>

	<!-- Google Font: Source Sans Pro -->
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" />
	<!-- Font Awesome Icons -->
	<link rel="stylesheet" href="../../../assets/plugins/fontawesome-free/css/all.min.css" />
	<!-- overlayScrollbars -->
	<link rel="stylesheet" href="../../../assets/plugins/overlayScrollbars/css/OverlayScrollbars.min.css" />
	<!-- Theme style -->
	<link rel="stylesheet" href="../../../assets/dist/css/adminlte.min.css" />
	<link rel="stylesheet" href="../../../assets/dist/css/newcustom.css" />
	<link rel="stylesheet" href="../../../assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" />
	<link rel="shortcut icon" href="../../../assets/img/vcl_logo.png" type="image/x-icon" />
	<link rel="stylesheet" href="../../../assets/plugins/summernote/summernote-bs4.min.css" />
	<link href="../../../assets/jquery.signaturepad.css" rel="stylesheet">
	<link rel="stylesheet" href="../../../assets/plugins/sweetalert2/dist/sweetalert2.css">

<script type="module">
  import Swal from "../../../assets/plugins/sweetalert2/src/sweetalert2.js"
 
</script>
</head>


</html>
