<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
    
    </ul>

   

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <li style="
          padding-top: 8px;
      ">Hello, <%= admin.username  %></li>
      <!-- Messages Dropdown Menu -->
      <a class="nav-link"  href="/admin/logout">
      <li class="nav-item dropdown">
        <i class="fas fa-sign-out-alt"></i>
       
      </li></a>
      
    </ul>
  </nav>