<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
	<!-- Brand Logo -->
	<a href="javascript::void(0)" class="brand-link text-center">
		<img src="<%= process.env.MEDIAURL + '/assets/img/vcl_logo.png'%>" height="" alt="AdminLTE Logo" class=""
			style="opacity: 1; width: 28%" />
	</a>
	<div class="sidebar">
		<!-- Sidebar user panel (optional) -->
		<!-- 
			<div class="user-panel mt-3 pb-3 mb-3 d-flex">
				<div class="image"></div>
				<div class="info">
					<a href="#" class="d-block"> </a>
				</div>
			</div> 
		-->

		<!-- SidebarSearch Form -->
		<!-- <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input
          class="form-control form-control-sidebar"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div> -->

		<!-- Sidebar Menu -->
		<nav class="mt-5" class="sidebar-nav">
			<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false"
				id="sidebarnav">
				<!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->
				<li class="nav-item menu-open">
					<a href="/admin/dashboard" class="nav-link">
						<i class="nav-icon fas fa-tachometer-alt"></i>
						<p>Dashboard</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">
						<i class="nav-icon fas fa-copy"></i>
						<p>
							Applications
							<i class="fas fa-angle-left right"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="/admin/pending-application" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Pending Approval</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="/admin/accepted-application" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Accepted</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="/admin/rejected-application" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Rejected</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="/admin/draft-application" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Draft</p>
							</a>
						</li>
					</ul>
				</li>
				<% if(admin.role == 'Admin') { %>
				<li class="nav-item">
					<a href="/admin/user-management" class="nav-link">
						<i class="nav-icon fas fa-chart-pie"></i>
						<p>User Managment</p>
					</a>
				</li>
				<% } %>
				<li class="nav-item">
					<a href="/admin/audit" class="nav-link">
						<i class="nav-icon fas fa-tree"></i>
						<p>Audit / Logs</p>
					</a>
				</li>
				<% if(admin.role == "Admin") { %>
				<li class="nav-item">
					<a href="#" class="nav-link">
						<i class="nav-icon fas fa-edit"></i>
						<p>
							Setting
							<i class="fas fa-angle-left right"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="/admin/email-credentials" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Email credentials</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="/admin/email-template-rejected" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Rejected Email Template</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="/admin/email-template-accepted" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Accepted Email Template</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="#signaturePanel" class="nav-link" data-toggle="modal"
								data-target="#signaturePanel">
								<i class="fa fa-pen nav-icon"></i>
								<p>Signature</p>
							</a>
						</li>
					</ul>
				</li>
				<% } %>
			</ul>
		</nav>
		<!-- /.sidebar-menu -->
	</div>
	<!-- /.sidebar -->
</aside>
<!-- Modal -->
<div class="modal fade" id="signaturePanel" tabindex="-1" role="dialog" aria-labelledby="signaturePanelLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="signaturePanelLabel">Signature Panel</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-12">
						<div class="signatureImageDiv">
							<% if (admin.signatureName != null && admin.signatureName != undefined) { %>
								<p class="drawItDesc" style="display: block; border-top: none;">Saved Signature</p>
								<img class="SignarturePanelImage" src="<%= process.env.MEDIAURL+admin.signatureName %>" alt="" srcset="">
							<% } %>
						</div>
						<div class="changeSignatureCheckboxDiv" style="display: none;">
							<div class="form-check">
							  <label class="form-check-label">
								<input type="checkbox" class="form-check-input" name="changeSignatureCheckbox" id="changeSignatureCheckbox" value="checkedValue">
								want to change your signature?
							  </label>
							</div>
						</div>
						<form method="post" action="" class="sigPad" >

							<div class="">
								<select name="signatureType" id="signatureType" class="form-control">
									<option value="drawSignature" selected>Draw Signature</option>
									<option value="uploadImage">uploadImage</option>
								</select>
							</div>
							<div id="drawSignature" class="signatureTypes">
								<p class="drawItDesc">Draw your New Signature</p>
								<ul class="sigNav">
									<span id="error"></span>
									<li class="clearButton"><a href="#clear">Clear</a></li>
								</ul>
								<div class="sig sigWrapper">
									<div class="typed"></div>
									<canvas class="pad" id="newSignature" width="460"></canvas>
									<input type="hidden" name="output" class="output">
								</div>
							</div>
							<div id="uploadImage" class="signatureTypes" style="display: none;">
								<div class="form-group">
								  <p class="drawItDesc">Upload Your Signature Picture(.png)*	</p>
								  <input type="file" class="form-control" name="uploadImage" id="uploadImage" aria-describedby="helpId" accept=".png, .jpeg, .jpg">
								  <small id="helpId" class="form-text text-muted">Help text</small>
								</div>
								<input type="hidden" id="dataUrl">
							</div>
							<br>
							<a class="btn btn-dark" id="signatureSave" class="submit">Save Signature</a>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary nextAcceptedBtn">Yes! Approve</button>
				<button type="button" class="btn btn-secondary closeBtn" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<% if (typeof configuration !== "undefined" && typeof configuration.acceptedtemp !== "undefined") { %>
	<div class="modal fade" id="accept-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Are You Sure?</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<!-- left column -->
						<div class="col-md-12">
							<!-- general form elements -->
							<div class="card card-primary">
								<!-- /.card-header -->
								<!-- form start -->
								<form action="/application-accept/:id" method="post" id="accept-form" style="height: 600px; overflow-y: auto;overflow-x: hidden;">
									<div class="card-body">
										<p>Please confirm to <strong>accept</strong> this request?</p>
										<input type="hidden" class="form-control" name="applicationSubject"
											value="<%= configuration.acceptedtemp.subject %>" />

										<div class="form-group" style="display: none;">
											<label>Message to user<span style="color:red;">*</span></label>
											<textarea  class="form-control" rows="400" name="applicationEmail" cols="1050" style="height: 500px">
												<%= configuration.acceptedtemp.email %>
											</textarea>
											<!-- <textarea class="form-control validate" name="applicationEmail" required="required" rows="3" placeholder="Write Email">
												<%= configuration.acceptedtemp.email %>
											</textarea> -->
										</div>

										<div class="form-group">
											<label>Reason (Internal)<span style="color:red;">*</span></label>
											<textarea class="form-control validate" name="applicationReason" rows="3" placeholder="Write Reason">...</textarea>
										</div>

										<div class="form-group">
											<label>Signature</label>
											<br/>
											<div id="signatureDiv">
												<input type="hidden" name="adminSignature" value="<%= admin.signatureName %>">
												<img src="<%= process.env.MEDIAURL+admin.signatureName %>" style="width: 200px;height: auto;">
											</div>
											<br/>
										</div>
									</div>
									<!-- /.card-body -->

									<div class="card-footer">
										<button type="submit" class="btn btn-primary acceptedBtn">
											Yes! Approve
										</button>
										<button type="button" class="btn btn-default" data-dismiss="modal">
											Cancel
										</button>
									</div>
								</form>
							</div>
							<!-- /.card -->
						</div>
						<!--/.col (left) -->
						<!-- right column -->
					</div>
					<!-- /.row -->
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
<% } %>